.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topbar {
  display: flex;
  width: 730px;
  height: 140px;
  border: 1px solid black;

  flex-grow: 1;
  img {
    width: 140px;
    height: 140px;
  }
}
.topingdetails {
  display: flex;
  img {
    margin: 0 12px 0px 12px;
  }
}
