@import "/src/styles.scss";
.searchbar-container {
  background-color: white;
  display: flex;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: -28px;
  border-radius: 6px;
  justify-content: space-between;
  column-gap: 26px;
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;

  .icon-input {
    display: flex;
    align-items: center;
    column-gap: 8px;
    flex-grow: 1;

    input {
      flex-grow: 1;
      border: 0;
      padding: 4px;
    }
  }
}
#fto {
  margin-top: 30px;
}
.searchbar-btn {
  margin-top: 20px;
}
.labeled {
  margin-left: 12px;
}
.dark .searchbar-container {
  background-color: $midnight;
}
.fulltime {
  color: #5964e0;
}
